img {
    border-radius: 50%;
    border: 0;
    max-height: 30%;
    max-width: 30%;
    padding-top: 1rem;
}

.header {
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
}

body {
    color: white;
    margin: 0px;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80)
}

h1 {
    color: black;
    display: inline-block;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: clamp(20px, 10vw, 100px);
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 10px;
}

.container{
    margin: 1rem;
}

.NavBar{
    padding-bottom: 1rem;
}
button {
    display: inline-block;
    background-color: rgba(128, 128, 128);
    border-radius: 10px;
    border: 4px double rgba(0, 148, 255, 40%);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px, 20px, 10px, 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

p{
    text-indent: 2rem;
}